# Environment variables go here, can be read by `python-dotenv` package:
#
#   ----------------------------------------------------------------
#    from dotenv import load_dotenv
#    
#    load_dotenv()
#    API_KEY = os.getenv("API_KEY")
#   ----------------------------------------------------------------
#
# DO NOT PUT ACTUAL VALUES HERE, JUST DUMMY DATA

# same url also needs be set inside alembic.ini file
DATABASE_URI=driver://username:password@host/database_name



# example value if running fastapi in the same container as database
# DATABASE_URI=postgresql://postgres:password@timescaledb/electricity_invoices

# example value if not running fastapi in container
# DATABASE_URI=postgresql://postgres:password@localhost:5433/electricity_invoices

# value of true loggs the queries
DEBUG_QUERIES=false