<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Račun št.: {{ invoice.invoice_number }}</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        h1, h2 { color: #333; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        .totals { margin-top: 20px; }
		.totals td.header { background-color: #f2f2f2; }
    </style>
</head>
<body>

    <h1>Račun za elektriko</h1>
    <h2>Račun št.: {{ invoice.invoice_number }}</h2>

    <p><strong>Izdano:</strong> {{ invoice.location_issued }}, dne {{ invoice.issued_date.strftime('%d.%m.%Y') }}</p>
    <p><strong>Datum storitve:</strong> {{ invoice.service_date.strftime('%d.%m.%Y') }}</p>
    <p><strong>Rok plačila:</strong> {{ invoice.due_date.strftime('%d.%m.%Y') }}</p>
  
    <hr>

    <h2>Dobavitelj</h2>
    <p>{{ provider.full_title }}</p>
    <p>{{ provider.street_address }}, {{ provider.zip_code }} {{ provider.zip_name }}</p>
    <p>Email: {{ provider.email }}</a></p>
    <p>Spletna stran: <a href="{{ provider.webpage }}">{{ provider.webpage }}</a></p>
    <p>ID za DDV {{ provider.tax_code }}</p>
    <p>IBAN: {{ provider.iban_number }}</p>

    <hr>

    <h2>Plačnik</h2>
    <p>{{ customer.fullname }}</p>
    <p>{{ customer.street_address }}, {{ customer.zip_code }} {{ customer.zip_name }}</p>
    <p>Email: {{ customer.email }}</p>
    <p>ID za DDV: {{ customer.tax_code }}</p>

    <hr>

    <p>Številka podobe #: {{ contract.contract_number }}</p>
    <p>Številka števca : {{ contract.energy_meter_number }}</p>
    <p>Paket/produkt: {{ contract.package_name }}</p>
    <p>Vrsta odjema: {{ contract.customer_type.value }}</p>

    <hr>

    <h2>Obračun porabljene električne energije po časovnih obdobjih</h2>
    <table>
        <thead>
            <tr>
                <th>Storitev</th>
		        <th>Obdobje</th>
                <th>Enota</th>
                <th>Količina</th>
                <th>Znesek brez DDV (€)</th>
			</tr>
        </thead>
        <tbody>
            {% for item in invoice.invoice_items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.date_from.strftime('%d.%m.%Y') }} - {{ item.date_to.strftime('%d.%m.%Y') }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ "%.5f"|format(item.amount) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="totals">
        <tr><td class="header"><strong>Osnova:</strong></td><td>{{ "%.2f"|format(invoice.base_amount) }} €</td></tr>
        <tr><td class="header"><strong>DDV po stopnji 22%:</strong></td><td>{{ "%.2f"|format(invoice.tax_amount) }} €</td></tr>
        <tr><td class="header"><strong>Znesek za plačilo</strong></td><td><strong>{{ "%.2f"|format(invoice.total_amount) }} €</strong></td></tr>
    </table>

    <hr>
	
    <h2>Račun poravnajte z UPN obrazcem s podatki:</h2>
    <p><strong>Koda namena:</strong> {{ invoice.invoice_code }}</p>
    <p><strong>Namen plačila:</strong> {{ invoice.payment_reason }}</p>
    <p><strong>IBAN prejemnika:</strong> {{ invoice.receiver_IBAN }}</p>
    <p><strong>Referenca prejemnika:</strong> {{ invoice.receiver_reference }}</p>

</body>
</html>
